{% load static %}
<html>
    <head>
        
    </head>
    <body>
        <center>
        Hello World!
        <br>Enter Your Status
        <form class="status-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Status</label>
                {{status}}
            </div>
            <button type="submit" class="save btn-primary">Submit</button>

        </form>
        

        <br>Previous Status:
        {% for data in Data%}
        <div><p>{{data.name}}</p></div>
        {% endfor %}
        </center>
       
    </body>
</html>